
.grid-container{

 display: grid;
 grid-template-columns: 1fr 2fr 2fr;
 max-width: 700px;
 margin: auto;


}

.top-bar{

grid-column:2/4 ;
height:50px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 3px 20px;
border-bottom: 1px solid burlywood;
    
}

.top-bar .logout{

    background-color:rgb(225, 211, 238);
    padding: 1px 3px;;
}
.top-bar .logout{

    background-color:rgb(124, 108, 243);
    padding: 1px 3px;
    border-radius: 2px;
    
}
.top-bar .logout:hover{

    background-color:#6350f0;
    padding: 1px 3px;
    box-shadow:  3px 3px 2px  rgb(227, 216, 202);
    
}


.side-bar{

    background-color: burlywood;
    grid-column: 1/2;
    grid-row: 1/8;
    position: relative;
    max-width: 100px;
   
}

.side-bar nav {

   position: absolute;
   top: 70px;
   height: 60vh;
   padding-left: 6%;



}
.side-bar nav ul{

    display: flex;
    flex-direction: column;
    align-items: center;
    
   
   

}
.side-bar nav li{


    padding: 20%  30%;

}
.side-bar nav li:hover{

 background-color: rgb(243, 241, 241);
    

}

.content{

    grid-column: 2/4;
     height: 80vh;
}