
.top-nav ul{

  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: end;
  padding: 0px 30px;


  
}

.top-nav li{

  margin-bottom: -45px;
  border-left: 0.5px solid rgb(240, 238, 238);
  padding-right: 6px;
  padding-left: 3px;
}
.top-nav li :hover{

  border-top: 1px solid rgb(0, 0, 0);
  border-radius: 1px;
  color: rgb(229, 229, 229);
  color: black;
}
#Logo{

  width: 50px;
  height: 35px;
  position: absolute;
  left: 20px;
  padding-top: 2px;

}
#Logo img{

  border-radius: 70%;

}
.fa-shopping-cart{

  position: relative;
  font: 5000px;
}

.cart-quantity{

  color: burlywood;
  position: absolute;
  top: -6px;
  background-color: rgb(0, 0, 0);
  width: 10px;
  height: 9px;
  border-radius: 50%;
  left: 6px;
  font-size: 11px;
  font-weight: 1000;
   padding-left: 2px;
}




  /*----responsiveness */
.container{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  max-width: 800px;
  margin: auto;
  position: relative;
}

#main-header{
  
  grid-column: 1/4;
  min-height: 40px;
  background-color: rgb(214, 179, 132);
  position: relative;
  position:sticky;
  top: 0px;
  z-index: 10;
}

#main-content{
  grid-column:1/4;
  min-height: 300px;
  display:flex;
  flex-direction: column;
  gap: 5px;
  width: 95%;
  margin:auto;
  background-color: rgb(237, 235, 239);
  z-index: 0;
  padding-top: 4px;
  
 
}

#main-footer {
  background-color: rgb(236, 237, 236);
  grid-column:1/4;
  min-height: 50px;
  margin-top: 60px;
  padding: 10px;
  border-radius: 7px;
   

  
  
}
#main-footer p{

  font-weight: 100;
  font-style:oblique;
  font-size: 15px;
}

/* product dislpay */

.product-container{

  width: 100%;
  height:auto;
  min-height:100px;
  padding: 5px 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1%;
  background-color: burlywood;
  border-radius: 5px;

  
  
}

.products {
   
    width:4.5em;
    height:3.8em;
    margin: auto;
    
      
}

.products:hover {
   
  cursor: pointer;
  border: solid 2px rgb(212, 208, 208);
  transform: scale(1.5);
  box-shadow: 0px 2px 3px 0px rgba(144, 144, 144, 0.9);
  border-radius: 10px;
  
    
}

.products img{
  width: 100%;
  height: 60%;
  object-fit:contain;

}
.cell p {

  padding: 3% 4%;
  font-weight: 700;
  text-decoration: underline;
}
.products p{

  
   font-size: 12px;
   font-style: italic;
   padding: 0px 20px;
   margin-top: -15px;
   font-weight: 60;
   text-decoration: none;
   

   
}

#Product-description{

  font-style: oblique;
  font-size:10px ;
  
}


   /*MEDIA QUERIES*/


   @media screen and (max-width: 490px) {
    .container {
      
       grid-template-columns: 1fr;
      }
  
      .product-container{
  
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
        width: 120%;   
          
       
      }
      .products {
   
        width:5em;
        height:6.8em;;
        margin: auto;
        padding-right: 10px;  
        
          
    }
    .top-nav ul{

      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-items:center;
      padding: 0px 10px;
    
    
      
    }
  
      
  #main-header{
  
    width: 95%;
    min-height: 40px;
    margin: auto;
  
  
  
  }
  
  #main-content{
  
    grid-column: 1/2;
    min-height: 300px;
  }
  
  #main-footer{
  
  
    min-height: 50px;
  }
    
  }