

.top-nav ul{

  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: end;
  padding: 0px 30px;
  
}

.top-nav li{

  margin-bottom: -45px;
  border-left: 0.5px solid rgb(240, 238, 238);
  padding-right: 6px;
  padding-left: 3px;
}
.top-nav li :hover{

  border-radius: 1px;
  color: rgb(229, 229, 229);
  color: rgb(101, 97, 227);

}
#Logo{

  width: 50px;
  height: 35px;
  position: absolute;
  left: 20px;
  padding-top: 2px;

}

.fa-shopping-cart{

  position: relative;
  font: 5000px;
}

.cart-quantity{
  position: absolute;
  top: -9px;
  color: rgb(85, 80, 243);
  width: 15px;
  height: 14px;
  border-radius: 50%;
  left: 6px;
  font-size: 12.5px;
  font-weight: 1000;
   padding-left: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
}



.container{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  max-width: 800px;
  margin: auto;
  position: relative;
}


/* product dislpay */

.product-container{

  width: 100%;
  height:auto;
  min-height:100px;
  padding: 5px 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1%;
  background-color: white;
  border: 1.5px solid rgb(222, 222, 222);
  border-radius: 5px;
  position: relative;

  
  
}

.products {
   
    width:4.5em;
    height:8.5em;
    margin: auto;
    position: relative;
    
      
}

.products img:hover {
   
  cursor: pointer;
  border: solid 2px rgb(212, 208, 208);
  transform: scale(1.3);
  box-shadow: 0px 2px 3px 0px rgba(144, 144, 144, 0.9);
  border-radius: 10px;
  
}

.products img{
  width: 100%;
  height: 60%;
  object-fit:contain;

}

.discount{

  background-color: rgb(101, 97, 227);
  font-family: monospace;
  width: 3%;
  height: 10%;
  border-radius:2px;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 21px;
  z-index: 12;
  color: white;
  overflow:hidden;
  
  
  
}
.cell p {

  padding: 3% 4%;
  font-weight: 700;
  text-decoration: underline;
}
.products p{

  
   font-size: 12px;
   font-style: italic;
   padding: 0px 20px;
   margin-top: -15px;
   font-weight: 60;
   text-decoration: none;
   

   
}

#Product-description{

  font-style: oblique;
  font-size:10px ;
  
}

.cell button{

  padding: 5px 10px;
  font-size: 13.5px;
}

.added-to-cart{

 
 color: rgb(194, 51, 51);
 
 position:absolute;
 left: 20px;
 bottom: 20px;
 left:1px;
 z-index: 100;
 padding-left: -400px;
 text-decoration:underline;
 opacity: 0;
 transition: opacity 1s ease-out;
}



#main-header{
  
  grid-column: 1/4;
  min-height: 55px;
  background-color: rgb(214, 179, 132);
  position:sticky;
  top: 0px;
  z-index: 10;
  overflow: hidden;
}

#main-content{
  grid-column:1/4;
  min-height: 300px;
  display:flex;
  flex-direction: column;
  gap: 5px;
  width: 95%;
  margin:auto;
  background-color: rgb(237, 235, 239);
  z-index: 0;
  padding-top: 4px;
  
 
}

#main-footer {
  background-color: rgb(236, 237, 236);
  grid-column:1/4;
  min-height: 50px;
  margin-top: 60px;
  padding: 10px;
  border-radius: 7px;
   

  
  
}
#main-footer p{

  font-weight: 100;
  font-style:oblique;
  font-size: 15px;
}


   /*MEDIA QUERIES*/


   @media screen and (max-width: 490px) {
    .container {
      
       grid-template-columns: 1fr;
      }
  
      .product-container{
  
        grid-template-columns: 1fr 1fr;
        column-gap: 2%;
        width: 100%;   
        height: 355px;
          
       
      }
      .products {
   
        width:5em;
        height:6.8em;;
        margin: auto;
        padding-right: 10px;  
        
          
    }

    
.discount{

 left:4.2px;
 top: 15px;
  
}


    .top-nav ul{

      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-items:center;
      padding: 0px 10px;
    
    
      
    }
  
      
  #main-header{
  
    width: 95%;
    min-height: 40px;
    margin: auto;
  
  
  
  }
  
  #main-content{
  
    grid-column: 1/2;
    min-height: 300px;
  }
  
  #main-footer{
  
  
    min-height: 50px;
  }
    
   }


   

/* navigationg humburger */


/* Hamburger menu icon styles */
#menu-icon {
  display: none; /* Hide by default for larger screens */
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}



@media screen and (max-width: 450px) {
  /* Hide the menu links when the screen is smaller than 400px */
  #myLinks {
    display: none;
    background-color: #f9f9f9;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  /* Show the menu icon when the screen is smaller than 400px */
  #menu-icon {
    display: block;
  }

  /* Style for the open menu icon */
  #menu-icon.open {
    background-color: #333;
  }
}

