#orders{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 850px;
    min-width: 95vw;
    margin: auto;
    padding: 18px;
    
}
#order-container{

    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}

#order-description {
  background-color: rgb(244, 250, 255);
  padding: 5px 10px;
  width: 100%;

}
#order-description span{
 font-weight: 700;
 margin-right: 15px;

}
.image-container{

    width: 150px;
}
#order-details-grid{
    display: grid;
   grid-template-columns: 0.5fr 2fr;
}